.backgroundimg{ 
    background-image: url(../images/lot.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.color{
    color: cyan;
    font-size: medium;
}
.lineborder{
    margin-top: 50px;
    border: 1px solid rebeccapurple;
    background-image: url(../images/light-bulbs-1875268_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:30px;
    width: 444px;
    height: 460px;
    padding: 24px;
}