.backgroundimg{
    background-image: url(/frontend/images/meter.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.color{
    color: cyan;
    font-size: medium;
}.head
{
    border: 0px solid;
    width: 100%;
    height: 80%;
    text-align: center;
    color: darkgoldenrod;

}
.lineborder{
    border: 1px solid rebeccapurple;
 
    width: 444px;
    height: 460px;
    padding: 24px;